<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Typescript server</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container">
        <h1 class="header">Typescript Server</h1>
    </div>
</body>
</html>
